<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Menu</title>
</head>
<body>

    <a href="./reg_platillo.html">registrar platillo</a>
    <a href="../index.html">ir a inicio</a>
    <div class="container">
        <div class="container_card">
            
        </div>
    </div>

    <script src="../js/uxmenu.js" ></script>
</body>
</html>