
.form_container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-bottom: 2rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-weight: bold;
  color: #333;
}

.input-group input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline-color: #ff4500; 
}


#btnEnviar {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

#btnEnviar:hover {
  background-color: #333;
}


.error-msg {
  color: #d9534f;
  background-color: #f2dede;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: center;
}




/* ---- BOTONES ----- */



.btn-custom {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.primary { background-color: #1a1a1a; color: white; } 
.danger { background-color: #ff4444; color: white; }  
.success { background-color: #28a745; color: white; } 
.advertencia {background-color: #ccab11; color: black;}
.outline { background-color: transparent; border: 2px solid #1a1a1a; } 

.btn-custom:hover { opacity: 0.8; transform: translateY(-2px); }



/* ----- Notificaciones ------*/


.message-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin: 15px 0;
  border-radius: 6px;
  border: 1px solid transparent;
  animation: slideDown 0.4s ease-out; 
}


.message-box.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}


.message-box.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.message-box.advertencia {
  background-color: #FFa;
  color: black;
  border-color: #f5c6cb;
}


.message-text {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}