body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin-layout{
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f8f9fa;
}

.sidebar {
  width: 260px;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
}


.sidebar-nav {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  color: #ccc;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar-link:hover {
  background-color: #333;
  color: white;
}

.sidebar-link-active {
  background-color: #ff4500;
  color: white !important;
  font-weight: bold;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-area {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}